<div class="container">
    <div class="center-block">
        <h2>Please log in</h2>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="row">
                <label class="col-lg-3 ">メールアドレス</label>
                  <div class="col-lg-3">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email" %>
                  </div>
              </div><br/>

              <div class="row">
                  <label class="col-lg-3 ">パスワード</label>
                    <div class="col-lg-3">
                      <%= f.password_field :password, autocomplete: "current-password" , placeholder: "passowrd" %>
                    </div>
              </div><br/>

              <% if devise_mapping.rememberable? %>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end %>

              <div class="actions">
                <%= f.submit "Log in", class: "btn btn-primary" %>
              </div>
            <% end %>
            <%= render "public/shared/links" %>
    </div>
</div>
