<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">新規インタビュー作成</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<%= form_with model: interview, url: interviews_path, method: :post do |f| %>
      	  <tr>
				    <td>予定日時</td>
				    <td><%= f.datetime_field :schedule %></td>
				  </tr>
			<tr>
				<td>タイトル</td>
				<td><%= f.text_field :title %></td>
			</tr>
			<tr>
			    <td>タグ</td>
			    <td>
			    	<%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
			    	 <div>
	              <%= tag.label do %>
		               <%= tag.check_box %>
		               <%= tag.text %>
	              <% end %>
	       　   </div>
	       　 <% end %>
	       　</td>
			</tr>
			<tr>
				<td>内容</td>
				<td><%= f.text_area :body, size: "40x15" %></td>
			</tr>
			<tr>
			<tr>
			    <td></td>
			    <td>
	               <%= f.submit '確定する' %>
	              </td>
			</tr>
		</table>
		 <% end %>
      </div>
    </div>
  </div>
</div>

