   <div class="container">
       <div class="row">
           <div class="col-3">
               <%= render 'public/users/info', user: @user %>
           </div>
           <div class="col-9">
               <div id ='calendar'></div>
               <%= javascript_pack_tag 'calendar/event' %>
           </div>
                <table class = "table">
                  <h5>開催した会議一覧</h5>
                  <div class="ml-3 mt-2">
                      <%= form_tag public_interviews_path, method: :get, class: 'boards__searchForm' do %>
                                <%= select_tag :tag_id, options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                                 {
                                   prompt: 'タグで絞り込み検索',
                                   onchange: 'submit(this.form);'
                                 } %>
                                <% end %>
                  </div>
                    <thread>
                        <tr>
                            <th>予定日程</th>
                            <th>ホスト名</th>
                            <th>インタビュー名</th>
                            <th>タグ</th>
                            <th>公開設定</th>
                        </tr>
                    </thread>
                    <tbody>
                        <% @interviews.each do |interview| %>
                        <tr>
                            <td><%= interview.schedule %></td>
                            <td><%= interview.user.name %></td>
                            <td><%= link_to interview.title, public_interview_path(interview) %></td>
              			　　<td><% interview.tags.each do |tag| %>
              				　　<%= tag.name %>
              		　　　　　　<% end %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
       </div>
   </div>




