<div class="container">
  <div class="form">
    <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>

    <label for="inputEmail" class="sr-only">Email address</label>
    <%= f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email", placeholder: "Email address" %>

    <label for="inputPassword" class="sr-only">Password</label>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, class: "form-control", autocomplete: "current-password" , placeholder: "passowrd" %>

    <label for="Password_confirmation" class="sr-only">再度入力</label>
    <%= f.password_field :password_confirmation, class: "form-control",  autocomplete: "new-password", placeholder: "passowrd one more" %>

    <%= f.submit "Sign up", class: "my-3 btn btn-lg btn-primary btn-block " %>
    <% end %>
    <%= render "public/shared/links" %>
  </div>

</div>


