<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
            <div class="container">
            <!--ラベルとフォーム部品を水平に並べる。これで綺麗に揃った-->
            <div class="form-horizontal">
            <h2 class="mt-3">プロフィール編集</h2>
            <%= form_with model: @user, url:user_path(current_user) do |f| %>
                <div class="form-group">
            　　      <label for="inputName">Name</label>
            　       <%= f.text_field :name, autofocus: true, class:"form-control", placeholder:"名前" %>
                </div>
                <div class="form-group">
            　　      <label for="inputImage">Image</label>
            　　      <%= f.file_field :profile_image, class:"form-control-file user_image form-list-item", placeholder: "プロフィール画像", accept: "image/*" %>
            　　</div>
            　　<div class="form-group">
            　　      <label for="inputGroup">Group</label>
            　　      <%= f.text_field :group, class:"form-control form-group-item", placeholder: "所属グループ" %>
            　　</div>
            　　<div class="form-group">
            　　      <label for="inputIntroduction">Introduction</label>
            　　      <%= f.text_area :introduction, rows:"12", class:"form-control", placeholder: "自己紹介文" %>
            　　</div>
            　　<div>
            　　      <%= f.submit "登録する", class: "btn btn-secondary" %>
            　　      <%= link_to "キャンセル", user_path(current_user) %>
            　　</div>
            　　<% end %>
            </div>
            </div>
        </div>
    </div>
</div>
