<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-10 mt-5">
            <table class= "table">
              <h5>参加した会議一覧</h5>
                <thread>
                    <tr>
                        <th>ホスト名</th>
                        <th>インタビュー名</th>
                        <th>タグ</th>
                        <th>
                            <%= form_tag favorites_public_user_path, method: :get, class: 'boards__searchForm' do %>
                            <%= select_tag :tag_id, options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                             {
                               prompt: 'タグで絞り込み検索',
                               onchange: 'submit(this.form);'
                             } %>
                            <% end %>
                        </th>
                    </tr>
                </thread>
                <tbody>
                    <% @favorite_interviews.each do |interview| %>
                    <tr>
                        <td><%= interview.id %></td>
                        <td><%= interview.user.name %></td>
                        <td><%= link_to interview.title, public_interview_path(interview) %></td>
          			　　<td><% interview.tags.each do |tag| %>
          				　　<%= tag.name %>
          		　　　　　　<% end %></td>
                    </tr>
                    <% end %>
                </tbody>
             </table>
        </div>
    </div>
</div>
